CHAT_COOKIE=i_like_cookies
GOSSIP_SECRET=i_like_gossip
# Leave empty to only run on sanntid computers
LOCAL_NODE="<hostname>@<your_ip>" 
NODES="elev25@10.100.23.35"

# Previously used nodes
#elev24@10.100.23.34
#elev19@10.100.23.19
#elev27@10.100.23.37
#elev26@10.100.23.36